.block-views-blockgovoryat-o-vystavke-block-exp {
    font-size: 11px;
    margin: 0 15px;
    .views-field-field-fio {
        margin: 17px 0 16px;
        color: #e84100;
        font-weight: bold;
    }
    .views-field-field-company {
        font-weight: bold;
        color: #000;
    }
    .views-field-field-pozition {
        font-style: italic;
        font-weight: bold;
        color: #000;
    }
    .views-field-field-body {
        line-height: 15.3333px;
        font-family: Arial, sans-serif;
        margin-top: 10px;
    }
}

