@font-face {
    font-family: 'Micra';
    src: url('../fonts/Micra.woff') format('woff'),
        url('../fonts/Micra.ttf') format('truetype'),
        url('../fonts/Micra.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}