@import 'mixins';

article.full {
    h2 {
        position: relative;
        padding-left: 20px;    
        font-size: 16px;
        margin-bottom: 2rem;
        &::after {
            @include titleDecoration();
        }

    }
}


