/* Цвета */
$baseBackgroundColor: #000;
$headerTextColor: #fff;
$agrosalonDefaultColor: #EF491F;
$baseWrapperColor: #f1f1f1;
$contentBackgroundColor: $headerTextColor;
$mainPageColor: #757573;
$sideBarBackgroundColor: #efefef;

$offset: 0px;