
            <div class="footer-row">
                <div class="footer-logo">
                    <img class="main-banner" src="/themes/agrosalon/images/main_banner1.jpg" alt="main banner">
                </div>
                <div class="footer-title-wrapper">
                    <div class="footer-title">
                        <p>2020</p>
                        <p>Москва</p>
                        <p>Мвц "Крокус экспо"</p>
                    </div>
                </div>
                <div class="footer-button-wrapper">
                    <div class="footer-button">Посетить выставку</div>
                </div>
            </div>

