    <div class="cont">
        <div class="txt">ДО ОТКРЫТИЯ<br>ВЫСТАВКИ</div>
        <div id="countdown" class="countdown">314 дней </div>
    </div>
    <div class="events">
        <h2>События</h2>
        <div class="events-wr">
            <a href="http://agrosalon.ru/Competition/Awardees2018/"><div class="events_link">
                <p>Конкурс<br><span>AGRO</span>инноваций</p>
                <img src="/themes/agrosalon/images/l-event-img1.png">
            </div></a>
        </div>
        <div class="events-wr">
            <a href="http://www.agrosalon.ru/AboutForum/Youthday/"><div class="events_link">
                <p>День молодежи<br><span>AGRO</span>поколение</p>
                <img src="/themes/agrosalon/images/l-event-img2.png">
            </div></a>
        </div>
        <div class="events-wr">
            <a href="http://www.agrosalon.ru/Exhibition/AgrosalonDrive/"><div class="events_link">
                <p><span>AGRO</span>salon<br>драйв</p>
                <img src="/themes/agrosalon/images/l-event-img3.png">
            </div></a>
        </div>
    </div>
    <div class="partners">
        <h2><a href="https://protoplan.pro/ru/login">Вход в личный кабинет участника</a></h2>
        <div class="l-partner">
            <a href="https://protoplan.pro/ru/login"><img src="/themes/agrosalon/images/ProtoPlan.png" style="padding-top:10px;"></a>
        </div>
    </div>

    {{ page.right_side }}